# Ignorar el entorno virtual
entornovirtual/
.env

# Archivos innecesarios e importantes que no se deben subir
__pycache__/
*.pyc

# Base de datos SQLite (si usas otra, ignora solo los archivos correspondientes)
db.sqlite3

# Archivos de medios (subidos por usuarios, por ejemplo)
media/

# Archivos estáticos generados automáticamente
static/
staticfiles/

# Ignorar migraciones generadas si deseas evitar conflictos
**/migrations/*.pyc
**/migrations/__pycache__/
